@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.customPositionOct {
  right: -170px;
}

.customPositionDate {
  left: -60px;
}

.timeline::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: lightgrey;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    background-color: lightgrey;
    left: 30px;
  }
}
