@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.customPositionOct {
  right: -165px;
}

.customPositionDate {
  left: -55px;
}

.timeline::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: lightgrey;
  position: absolute;
}

.dark body {
  background-color: black;
}

.dark .icon {
  color: white;
}

.dark .arrowPlay {
  color: #111828;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    background-color: lightgrey;
    left: 30px;
  }
}
